.*_V
docker-compose.latest.yml

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
.vscode/

npm-debug.log
*.swp
*.swo
.~lock
*.swn

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

cache

*/node_modules

examples

# Harvester
bibliomap-harvester/.log.io/log_server.conf
bibliomap-harvester/.log.io/web_server.conf
bibliomap-harvester/config.local.json
bibliomap-harvester/.ackrc
bibliomap-harvester/public/dist/*
bibliomap-harvester/.DS_Store
bibliomap-harvester/config.local.js
bibliomap-harvester/node_modules
bibliomap-harvester/data/*
bibliomap-harvester/tmp/*
bibliomap-harvester/lib-cov
bibliomap-harvester/*.seed
bibliomap-harvester/*.log
bibliomap-harvester/*.csv
bibliomap-harvester/*.dat
bibliomap-harvester/*.out
bibliomap-harvester/*.pid
bibliomap-harvester/*.gz
bibliomap-harvester/pids
bibliomap-harvester/logs
bibliomap-harvester/results
bibliomap-harvester/npm-debug.log
bibliomap-harvester/*.swp
bibliomap-harvester/*.swo
bibliomap-harvester/.~lock
bibliomap-harvester/*.swn
bibliomap-harvester/.grunt
bibliomap-harvester/.lock-wscript
bibliomap-harvester/build/Release
bibliomap-harvester/.npm
bibliomap-harvester/.node_repl_history
bibliomap-harvester/cache

# Enricher
bibliomap-enricher/.ackrc
bibliomap-enricher/public/dist/*
bibliomap-enricher/.DS_Store
bibliomap-enricher/config.local.js
bibliomap-enricher/node_modules
bibliomap-enricher/data/*
bibliomap-enricher/tmp/*
bibliomap-enricher/lib-cov
bibliomap-enricher/*.seed
bibliomap-enricher/*.log
bibliomap-enricher/*.csv
bibliomap-enricher/*.dat
bibliomap-enricher/*.out
bibliomap-enricher/*.pid
bibliomap-enricher/*.gz
bibliomap-enricher/pids
bibliomap-enricher/logs
bibliomap-enricher/results
bibliomap-enricher/npm-debug.log
bibliomap-enricher/*.swp
bibliomap-enricher/*.swo
bibliomap-enricher/.~lock
bibliomap-enricher/*.swn
bibliomap-enricher/.grunt
bibliomap-enricher/.lock-wscript
bibliomap-enricher/build/Release
bibliomap-enricher/.npm
bibliomap-enricher/.node_repl_history
bibliomap-enricher/cache