{% if locale == "fr" %}
  <strong>BiblioMap-UL</strong> reflète les consultations en direct des <a href=\"http://www.cnrs.fr/fr/organisme/presentation.htm\" target=\"_blank\">étudiants et personnels universitaires de l'Université de Lorraine</a> dans leur travail de recherche bibliographique dans leur domaine, en utilisant <a href=\"http://bu.univ-lorraine.fr/ressources/ressources-en-ligne\" target=\"_blank\">les outils numériques mis à leur disposition</a>.<br>
{% endif %}

{% if locale == "en" %}
  <strong>BiblioMap-UL</strong> reflects the live consultations of <a href=\"http://www.cnrs.fr/fr/organisme/presentation.htm\" target=\"_blank\">students and university staff of the University of Lorraine</a> in their bibliographic research work in their field, using <a href=\"http://bu.univ-lorraine.fr/ressources/ressources-en-ligne\" target=\"_blank\">the digital tools made available to them</a>.<br>
{% endif %}